.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-right: 10px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.wrapper:hover {
  background: #31333a5e;
}

.wrapper:hover .username {
  color: var(--base-grey);
}

.username {
  font-weight: 500;
  color: var(--light-grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  margin-bottom: 3px;
}

.icon > i {
  font-size: 12px;
}
