.wrapper {
  max-height: 85vh;
}

.title_wrapper {
  position: relative;
}

.hashtag {
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: var(--light-grey);
  user-select: none;
}

.chat_title {
  padding-left: 30px !important;
}

.content {
  padding: 20px;
}

.flex_center {
  display: flex;
  align-items: start;
}