.wrapper {
  margin: 0px 20px;
  max-width: calc(100vw - 320px - 20px - 250px);
  position: relative;
}

.control {
  display: flex;
  align-items: center;
  background: var(--dark-grey);
  padding: 5px 15px;
  border-radius: 10px;
}

.input {
  min-height: 20px;
  max-height: 300px;
  overflow-y: auto;
  padding: 0 10px;
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.input::placeholder {
  color: var(--med-grey);
}

.disable {
  padding: 5px 0;
}

.disable,
.disable > i {
  color: var(--med-grey);
  cursor: default;
  display: flex;
  align-items: center;
  user-select: none;
}

.disable > i {
  font-size: 16px;
  margin-right: 10px;
}
