.wrapper {
  display: flex;
  padding: 5px 20px;
  transition: 0.1s;
  position: relative;
}

.wrapper:hover {
  background: rgba(38, 39, 44, 0.767);
}

.wrapper:hover .context_menu {
  display: flex;
}

.time {
  font-size: 13px;
  color: var(--med-grey);
  margin-top: 1px;
  width: 40px;
  cursor: default;
}

.time_wrapper {
  margin-right: 10px;
}

.time_wrapper > div {
  height: max-content;
}

.content {
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: max-content;
  line-height: 20px;
  color: var(--light-grey);
}

.content > div {
  cursor: default;
  font-size: 20px;
  line-height: 20px;
}

.highlight {
  font-weight: 500;
  cursor: pointer;
  width: max-content;
  margin-bottom: 2px;
}

.highlight:hover {
  text-decoration: underline;
}