.wrapper {
  background: var(--charcoal);
  animation: open 0.3s forwards;
  min-width: 450px;
  border-radius: 10px;
}

#fading {
  animation: fade 0.3s forwards;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
    opacity: 0;
  }
}
