.wrapper {
  position: relative;
  max-height: 50px;
  z-index: 1;
}

.wrapper_data {
  padding: 10px;
  max-height: 50px;
  height: 50px;
  background: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.wrapper_data:hover .arrow {
  color: var(--light-grey);
}

.name {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 280px;
  font-size: 15px;
}

.arrow {
  transition: 0.2s;
  color: var(--med-grey);
}

.dropmenu_wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: calc(100% + 8px);
}
