.message_content_url {
  color: var(--action);
}

.message_content_url:hover {
  text-decoration: underline;
}

.fontSize_12,
.fontSize_12 * {
  font-size: 12px;
}
.fontSize_14,
.fontSize_14 * {
  font-size: 14px;
}
.fontSize_15,
.fontSize_15 * {
  font-size: 15px;
}
.fontSize_16,
.fontSize_16 * {
  font-size: 16px;
}
.fontSize_18,
.fontSize_18 * {
  font-size: 18px;
}
.fontSize_20,
.fontSize_20 * {
  font-size: 20px;
}

.messageGroupGap_0 {
  margin-top: 0px;
}
.messageGroupGap_4 {
  margin-top: 4px;
}
.messageGroupGap_8 {
  margin-top: 8px;
}
.messageGroupGap_12 {
  margin-top: 12px;
}
.messageGroupGap_16 {
  margin-top: 16px;
}
