@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  color: var(--base-grey);
  line-height: 1.5em;
}

*::selection {
  background: var(--astro);
  color: #fff;
}

:root {
  --darker-grey: #1f2124;
  --dark-grey: #222427;
  --charcoal: #292b30;
  --slate-grey: #444b53;
  --hover-grey-light: #31333a;
  --campfire: #686c73;
  --med-grey: #8c939c;
  --light-grey: #c2c8cf;
  --base-grey: #eee;
  --white: #fff;
  --astro: #ae7fe4;
  --action: #2b96de;
  --success: #38d493;
  --alert: #efc663;
  --notification: #ec384d;
  --pending: #9677df;
  --green: #38d479;
  --yellow: #d9a322;
  --orange: #e76d3b;
  --red: #cc3e4a;
  --pink: #d96eae;
  --purple: #7049a3;
  --tooltip: #171718;

  --navbar-width: 70px;
  --members-list-width: 250px;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background: var(--darker-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--astro);
  border-radius: 2px;
}

* {
  scrollbar-width: 5px;
  scrollbar-color: var(--astro) #ffffff00;
}

*::placeholder {
  color: var(--placeholder-color);
}

/* QUILL PLACEHOLDER */
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-style: normal;
  color: var(--med-grey);
}

.ql-editor {
  padding: 0;
}

.ql-editor::before {
  margin-left: -15px;
}
